.job-container{
    width: 60%;
    padding: 0.5rem 1rem;
    background-color: rgba(0, 0, 0, 0.4);
    max-height: 70vh;
    display: flex;
    gap: 2rem;
}

.individual-job-info-container{
    flex: 2;
    word-wrap: break-word;
    word-break: break-all;
    overflow-y: scroll;
}

.individual-job-info-container>div{
    margin: 1rem 0rem;
}

.individual-job-info-container>div>p{
    word-wrap: break-word;
}

.individual-job-info-container>div>p:first-child{
    font-size: 1.1rem;
    font-weight: 600;
}

.candidates-applied-div{
    flex: 1;
    overflow-y: scroll;
    padding-left: 2rem;
}

